cos_sim_pruebas.ipynb
ingesta_nn.ipynb
prueba_knn.ipynb
available_titles.csv
transformaciones.ipynb
ingesta_cos_sim.ipynb
eda.ipynb
knn_titles.csv
prueba_collaborative.ipynb
cos_sim_titles.csv
knn.py
prueba.ipynb
data_modelado_cos_sim.csv
EDA.ipynb